<div class="container">
  <h1>Dashboard</h1>
  <div class="row">
    <div class="col-md-3">
      <ul class="nav nav-pills nav-stacked">
        <li role="presentation" class="active">
          <%= link_to 'Home', admin_dashboard_path %>
        </li>
        <li role="presentation">
          <%= link_to 'Users', admin_users_path %>
        </li>
        <li role="presentation">
          <%= link_to 'Messages', admin_messages_path %>
        </li>
      </ul>
    </div>
    <div class="col-md-9">
      <h1>Welcome Admin!</h1>
    </div>
  </div>
</div>
