<% flash.each do |name, msg| %>
  <% if name == "error" %>
    <% name = "danger" %>
  <% end %>
  <div class="alert alert-<%= name %> text-center">
    <div class="inner_div">
      <%= content_tag :div, msg, id: "flash_#{name}" %>
    </div>
  </div>
<% end %>
