<% flash.each do |name, msg| %>
  <div class="alert alert-<%= flash_type_to_bootstrap(name) %> text-center">
    <div class="inner_div">
      <%= content_tag :div, msg, id: "flash_#{name}" %>
    </div>
  </div>
<% end %>
