.form-control {
  position: relative;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-register button, .form-signin button {
  align: left;
}
.users_container, .messages_container {
  height: 400px;
  overflow: auto;
}
.dashboard {
  background-color:#f5f5f5;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  height: 500px;
}
textarea {
  resize: none;
  min-height: 90px;
}
.alert {
  z-index: 999;
  position: fixed;
  height: 50px;
  top: 0;
  left: 0;
  right: 0;
}
.inner_div {
  height: 100%;
  width: 100%;
}
